/*-------------------
fotofan.css
COLORS:
	blue tones:
	supalight - #DBD7FA;
		light - #938CC5;
		      - #675DA5;
		      - #322775;
		 dark - #1C125A;
-------------------*/
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');


body{
	padding: 0px;
	margin: 0px;
}
html {
	margin: 0px;
	padding: 0px;
}
#outer-wrapper{
	width: 100%;
	min-width: 600px;
	height: 1200px;
	overflow: hidden;
	display: inline;
	float: left;
}
#layer1 {
	margin: 0px;
	background-color: #938CC5;
	height: 1200px;
	padding-left: 30px;
	padding-top: 5px;
}
#layer2 {
	margin: 0px;
	background-color: #675DA5;
	height: 1200px;
	padding-left: 30px;
	padding-top: 5px;
}
#layer3 {
	margin: 0px;
	background-color: #322775;
	height: 1200px;
	padding-left: 30px;
	padding-top: 5px;
}
#layer4 {
	margin: 0px;
	background-color: #1C125A;
	height: 1200px;
	padding-left: 30px;
	padding-top: 5px;
}
#layer5 {
	margin: 0px;
	background-color: #1C125A;/*#DBD7FA;*/
	height: 1200px;
	min-width: 900px;
	/*
    background: -moz-linear-gradient(right, #1C125A, #DBD7FA); 
    background: linear-gradient(to right, #1C125A, #DBD7FA);
    */
}
#banner {
	border-top: 5px solid #1C125A;
	border-bottom: 5px solid #1C125A;
	width: 100%;
	height: 100px;
}
#banner h1{
	font-size: 80px;
	color: #1C125A;
	font-family: 'Spectral SC', serif;
	letter-spacing: 2px;
	margin: 0px;
	padding: 22px;
	height: inherit;
	line-height: 50px;
	float: right;
}
#left-panel {
	width: 50%;
	height: 1200px;
	float: left;
	display: inline-block;
	box-sizing: border-box;
	background-color: #0C0538;
}
#left-container {
	margin: 50px;
	margin-top: 25px;
	padding:0;
	width: calc(100%-30px);
	height: 1200px;
	background-color: #DBD7FA;
}
#right-panel {
	width: 50%;
	height: 1200px;
	float: left;
	display: inline-block;
	padding: 15px;
	box-sizing: border-box;
	background-color: #DBD7FA;
}
#search-bar {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: gray;
	box-shadow: 5px 5px 5px;
	padding: 5px;
	height: 50px;
	position: relative;
	top: 15px;
}
#search-bar input{
    width: calc(100% - 65px);
    padding: 6px 10px;
    margin: 0px 0 0 10px;
    box-sizing: border-box;
    border: 2px solid white;
	border-radius: 4px;
	background-color: gray;
    color: white;
    font-size: 30px;
    display: inline;
}
#search-bar img{
	width: 50px;
	padding-left: 5px;
	display: inline;
	float: left;
	margin-top: auto;
	margin-bottom: auto;
}
#left-container hr{
	margin-top: 35px;
	margin-bottom: 10px;
	border-top: 3px double #8c8b8b;
}
#thumb-display {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #3B3B3B;
}
#thumb-display img{
	width: 100%;
	height: auto;
}
#thumb-wrap {
	width: 90%;
	margin: auto;
	padding: 15px;
}
table, th, td {
	border: 3px solid black;
	border-collapse: collapse;
}
td{
	text-align: center;
	width: 25%;

}
td img{
	height: 100%;
	display: block;
}

#bigPicture {
	width: 90%;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}
#bigPicture img{
	position: relative;
	top: -20px;
	width: 100%;
	margin: auto;
}
#dropdown {
	border: 1px solid black;
	margin: 0px 30px 15px 30px;
	padding: 10px;
}
#dropdown select{
	text-align: right;
}
#navButtons{
	border: 1px solid black;
	margin: 10px 30px 15px 30px;
	padding: 5px;
}