/*-------------------
index.css
COLORS:
	color1: #FFFFFF
	color2: #000000
-------------------*/
.Test,#JQTest{
	background-color: green;
	width: 400px;
	padding: 15px;
}
.Test,#JQTest h1{
	color: white;
}
#JQTest{
	background-color: red;
}
